:root {
  --primary-lightblue: #ADD8E6;
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAV BAR  */
nav{
  font-family:'Courier New', Courier, monospace;
  font-weight: 500;
  text-transform: uppercase;
}

/* .navbar-nav > li {
  margin-right: 50px;
} */

.navbar-nav > li > span {
  color: white;
  margin-right: 10px;
  padding-right: 5px;
  text-decoration: none !important;
}

.navbar-nav > li > span.active, .navbar-nav > li> span:focus{
border-top: 0.1875rem solid var(--primary-lightblue)
}

.navbar-nav > li >  span:hover {
  border-top: 0.1875rem solid var(--primary-lightblue);
  text-decoration: none;
}

.navlogo { 
  width: 8%;
  height: auto;
  margin-left: 40px;
}
.nav-link {
  text-decoration: none;
}
/* HEADER  */
.header-wraper {
  position: relative;
  width: 100%;
  height: 90vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.main-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
}

.logo {
  width: 30%;
  height: auto;
  margin-bottom: -35px;
  margin-top:10px;

}


.main-info p {
  font-size: 25px;
  color: rgb(23, 47, 67);
  padding-top: -20px;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;

}

.btn-ma-offer {
  border: 4px solid rgb(23, 47, 67);
  background-color: rgb(23, 47, 67);
  
  text-transform: capitalize;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  margin-top: 200px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  transition: all .25s;
}

.btn-ma-offer:hover {
  border: 4px solid white;
  background-color: white;
  /* border: 4px solid rgb(23, 47, 67);
  background-color: rgb(23, 47, 67); */
  color: rgb(23, 47, 67);
  letter-spacing: 15px;
}

.container {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

/**************** HELP ****************/

.need-help {
  font-family:'Courier New', Courier, monospace;
  color: rgb(23, 47, 67);
  margin-top: 50px;
  margin-left: 50px;
}

.send-question {
    font-family:'Courier New', Courier, monospace;
    color: rgb(23, 47, 67);
    margin-left: 50px;
}

.email {
  font-family:'Courier New', Courier, monospace;
    color: rgb(23, 47, 67);
}

.question-box {
  font-family:'Courier New', Courier, monospace;
  color: rgb(23, 47, 67);
}

@media (max-width: 1000px) {
  button.navbar-toggler {
      position: absolute !important;
      right: 10px !important;
      top: 10px !important;
      margin-bottom: 13px !important;
  }
}
@media (max-width: 1000px) {
  .main-info p{
    word-wrap:normal !important;
      right: 10px !important;
      top: 10px !important;
      margin-top: 5vw !important;
  }
}

@media (max-width: 1000px) {
  .navlogo{
      min-width: 20% !important;
      height: auto !important;
  }
}

