:root {
  --primary-lightblue: #ADD8E6;
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAV BAR  */
nav{
  font-family:'Courier New', Courier, monospace;
  font-weight: 500;
  text-transform: uppercase;
}

/* .navbar-nav > li {
  margin-right: 50px;
} */

.navbar-nav > li > a {
  color: white;
  margin-right: 10px;
  padding-right: 5px;
}

.navbar-nav > li > a.active, .navbar-nav > li> a:focus{
border-top: 0.1875rem solid var(--primary-lightblue)
}

.navbar-nav > li >  a:hover {
  border-top: 0.1875rem solid var(--primary-lightblue)
}

.navlogo { 
  width: 8%;
  height: auto;
  margin-left: 40px;
}
/* HEADER  */
.header-wraper {
  position: relative;
  width: 100%;
  height: 90vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.main-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
}

.logo {
  width: 30%;
  height: auto;
  margin-bottom: -35px;
  margin-top:10px;

}


.main-info p {
  font-size: 25px;
  color: rgb(23, 47, 67);
  padding-top: -20px;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;

}

.btn-ma-offer {
  border: 4px solid rgb(23, 47, 67);
  background-color: rgb(23, 47, 67);
  
  text-transform: capitalize;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  margin-top: 200px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  transition: all .25s;
}

.btn-ma-offer:hover {
  border: 4px solid white;
  background-color: white;
  /* border: 4px solid rgb(23, 47, 67);
  background-color: rgb(23, 47, 67); */
  color: rgb(23, 47, 67);
  letter-spacing: 15px;
}

.container {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

/* .overlay {
  position: absolute;
  width: 55%;
  height: 25%;
  top: 0;
  margin-top:250px;
  margin-left: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Courier New', Courier, monospace;;
 background-color: rgb(0, 0, 0, 0.5);
} */
/* .main-info h1 {
  font-weight: 200px;
  font-size: 100px;
  text-transform: uppercase;
  color: rgb(23, 47, 67);
  margin-bottom: -10px;
  margin-top:50px;
} */

/* plans */

/* .bi {
  color:#00C9FF;
}

.price {
  color:white;
  font-size: 150px;
  font-weight: 800;
  padding-top:-80% !important;
  font-family:'Courier New', Courier, monospace;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/* .flip-card {
  background-color: transparent;
  width: auto;
  height: auto;
  perspective: 1000px; 
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 50px;
} */

/* This container is needed to position the front and back side 
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
/* .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  /* backface-visibility: hidden;
} */ 

/* Style the front side (fallback if image is missing) */
/* .flip-card-front {
  background-color:  rgb(23, 47, 67);;
  color: white;
  height: auto;
  padding:50px 0px;
  font-family:'Courier New', Courier, monospace;;
} */

/* Style the back side */
/* .flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  padding:50px 0px;
} */ 

@media (max-width: 1000px) {
  button.navbar-toggler {
      position: absolute !important;
      right: 10px !important;
      top: 10px !important;
      margin-bottom: 13px !important;
  }
}
@media (max-width: 1000px) {
  .main-info p{
    word-wrap:normal !important;
      right: 10px !important;
      top: 10px !important;
      margin-top: 5vw !important;
  }
}

@media (max-width: 1000px) {
  .navlogo{
      min-width: 20% !important;
      height: auto !important;
  }
}